/* GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --fs-text: clamp(1rem, 1vw + 1.1rem, 1.4rem);
    --fs-info: clamp(1.1rem, 1vw + 1.1rem, 1.6rem);
    --fs-title: clamp(1.2rem, 1vw + 1.1rem, 2rem);
    --fs-heading: clamp(2.4rem, 1vw + 2rem, 4rem);
}

body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%) no-repeat fixed;

    font-size: 1.6rem;
    text-align: center;
}

body * {
    font-family: 'Rubik', sans-serif;
}

/* Utility classes */

.flex {
    display: flex;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: auto;
}

/* HEADER */

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: var(--fs-title);
    line-height: 2.4rem;
    color: #fff;
}

/* CARD */

.card {
    width: min(90%, 32.7rem);
    min-height: 54.4rem;
    border-radius: 2.4rem;
}

.card__section {
    flex-direction: column;
    gap: 2.4rem;
    
    background-color: #fff;
    box-shadow: 0 .4rem 2.4rem rgba(0 0 0 / .25); /* not working */
    padding: 2.4rem 3.2rem;
    
    text-align: center;
        
    /* 
        - We call the mask prop here because .card__section is a general class for sections. Mask receives images with different props, than we apply those props creating a different "--mask" on each section selector, as they are different
        - We also use -webkit vendor prefix for chrome
    */
    mask: var(--mask);
    -webkit-mask: var(--mask);
}

.card__section.section-1 {
    border-radius: 2.4rem 2.4rem 0 0;

    /*
        - Masks receive images, than we create a ball image using radial gradient (params: size, initial color + transition, ending color (black is understood as transparent for masks))
        - "1.2rem at 1.2rem" means 1.2rem of size and places it 1.2rem horizontally from the border."bottom" puts the mask on bottom. "-1.2rem" means it will translateX -1.2rem (to the left), and when it happens, our ball appears on the other side, as it exists based on the width of .card. 
    */
    --mask: radial-gradient(
        1.2rem at 1.2rem bottom, transparent 95%, black
    ) -1.2rem;
    
    /* To solve line bug */
    mask-repeat: repeat-x;
    -webkit-mask-repeat: repeat-x;
}

.card__text-wrapper {
    justify-content: space-between;
}

.card__text-wrapper-2__text:nth-child(2) {
    align-items: center;
}

.card__text-wrapper__text p:first-child,
.card__text-wrapper-2__text:first-child,
.card__qr-code-container p {
    font-weight: 400;
    font-size: var(--fs-text);
    color: rgba(0 0 0 / .64);
    line-height: 1.7rem;
}

.card__text-wrapper__text p:last-child {
    font-weight: 500;
    font-size: var(--fs-info);
    line-height: 1.9rem;
}

.card__text-wrapper__text p:last-child:not {
    color: rgba(0 0 0 / .88);
}

.card__text-wrapper-2__text {
    justify-content: space-between;
}

.card__text-wrapper-2__text h3 {
    font-weight: 500;
    font-size: var(--fs-heading);
    line-height: 4.7rem;
}

.card__text-wrapper-2__text time {
    color: rgba(0 0 0 / .8);
    font-size: var(--fs-info);
    line-height: 1.9rem;
}

.card__text-wrapper-2__text sup {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 500;
}

img.airplane {
    max-width: 2.4rem;
    max-height: 2.4rem;
}

.card__section.section-2 {
    border-block: .2rem dashed rgba(0 0 0 / .25);

    /* 
        - Instead of "top" or "bottom" we use 1.2rem, what places the mask 1.2rem vertically from the border this time. Than, besides -1.2rem at the end, we use another -1.2rem to translateY the ball for it to appear on the other side 
    */
    --mask: radial-gradient(
        1.2rem at 1.2rem 1.2rem, transparent 95%, black
    ) -1.2rem -1.2rem;
}

.card__text-wrapper__container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.6rem;
}

.card__text-wrapper__container time {
    display: inline-block;
    padding: .4rem .8rem;

    background-color: #633BBC;
    border-radius: .8rem;

    color: #fff;
}

img.qr-code {
    width: 100%;
    min-width: 10rem;
    max-width: 16rem;
}

.card__qr-code-container {
    text-align: center;
}

.card__section.section-3 {
    border-radius: 0 0 2.4rem 2.4rem;

    /* "top" puts the mask on top this time */
    --mask: radial-gradient(
        1.2rem at 1.2rem top, transparent 95%, black
    ) -1.2rem;
    
    /* To solve line bug */
    mask-repeat: repeat-x;
    -webkit-mask-repeat: repeat-x;
}

.card__section.section-3 p:last-child {
    font-size: var(--fs-text);
    line-height: 2rem;
}

/* FOOTER */

footer p {
    max-width: 26.9rem;
    margin-inline: 1rem;

    font-weight: 400;
    font-size: var(--fs-text);
    color: rgba(255 255 255 / .64);
    line-height: 2.4rem;
}

/* RESPONSIVE */

@media (max-width: 270px) {
    .card__text-wrapper,
    .card__text-wrapper-2__text {
        flex-direction: column;
    }

    .center {
        text-align: center;
    }

    .card__text-wrapper__container {
        align-items: center;
    }
}